* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Maven Pro', sans-serif;
}

h1 {
    text-align: center;
    font-size: 1.8rem;
    color: #444;
    padding: 30px 0;
}

main {
    width: 90%;
    height: 550px;
    margin: auto;
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

div {
    width: 30%;
    height: 160px;
    /*border: 1px solid red;*/
    box-shadow: 2px 2px 5px grey;
    border-radius: 10px;
    cursor: pointer;
}

.a {
    background-image: url('arambh.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.b {
    background-image: url('mahabharat.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.c {
    background-image: url('radha.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.d {
    background-image: url('despimg.webp');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.e {
    background-image: url('https://i.ytimg.com/an_webp/n-D1EB74Ckg/mqdefault_6s.webp?du=3000&sqp=CLDmgf4F&rs=AOn4CLCiYRAuXJ3aALG4nJQ0Xyyo-NrQ3w');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.f {
    background-image: url('https://i.ytimg.com/an_webp/ixkoVwKQaJg/mqdefault_6s.webp?du=3000&sqp=CLDvgf4F&rs=AOn4CLDunYkz2YN5_wq2wdVEQpCKVlGvFA');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.g {
    background-image: url('https://i.ytimg.com/an_webp/5AeX7Ddq4ts/mqdefault_6s.webp?du=3000&sqp=CMzSgf4F&rs=AOn4CLAkiaCWlcJGXsoXgENCUgrZ-0ZfOw');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.h {
    background-image: url('https://i.ytimg.com/an_webp/BiVyN2ftrrs/mqdefault_6s.webp?du=3000&sqp=CJn1gf4F&rs=AOn4CLCxb2nE-KuSboEM6c-xxfyExOqIjg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.i {
    background-image: url('https://i.ytimg.com/an_webp/oRaDXp44oHk/mqdefault_6s.webp?du=3000&sqp=CICHgv4F&rs=AOn4CLCHk7iOZlRh1wGzOsB5QPlRxKxMog');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}